[Unit]
Description="Runs the pi smoker"
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/pismoker

[Install]
WantedBy=multi-user.target
